<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <%= link_to "New order..", 'orders/new'%>
      <% if @user.orders.any? %>
      <table class="orders" summary="User orders">
        <%= render @orders %>
      </table>
          <%= will_paginate @orders %>
      <% end %>
    </td>

    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
    </td>
  </tr>

</table>

