
  <td class="order">
    <span class="description"><%= order.description %></span>
  </td>

  <td class="order">
    <span class="site"><%= order.site %></span>
  </td>

  <td class="order">
    <span class="price"><%= order.price %></span>
  </td>

  <td class="order">
    <span class="purchase_date">
        <% if !(order.purchase_date.nil?) %>
          <%= "#{order.purchase_date} (#{pluralize(days_diff_abs(order.purchase_date, Date.current), "day")} #{days_diff_ago_or_ahead(order.purchase_date, Date.current)})" %>
        <% end %>
    </span>
  </td>

  <td class="order">
    <span class="status"><%= order.status %></span>
  </td>

  <td class="order">
    <span class="status_date">
      <% if !(order.status_date.nil?) %>
          <%= "#{order.status_date} (#{pluralize(days_diff_abs(order.status_date, Date.current), "day")} #{days_diff_ago_or_ahead(order.status_date, Date.current)})" %>
      <% end %>
    </span>
  </td>

  <td class="order">
    <span class="notes"><%= order.notes %></span>
  </td>