<% if signed_in? %>

    <table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <h1 class="micropost">What's UPPP?</h1>
          <%= link_to "New order..", 'orders/new'%>
          <% if @user.orders.any? %>
              <table class="orders" summary="User orders">
                <%= render @orders %>
              </table>
              <%= will_paginate @orders %>
          <% end %>
        </td>
        <td class="sidebar round">
          <%= render 'shared/user_info' %>
        </td>
      </tr>
    </table>


<% else %>

<h1 align=center><strong>Welcome!!</strong></h1>
<h3 align=center>From this day on, you'll be able to organize all your orders </br> in
  <strong>one place!</strong></h3>


<%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %>

<% end %>